body {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  background-image: url("http://i.imgur.com/IJSEt17.jpg");
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1{
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
}

.Container {
  display: block;
  text-align: center;
  width: 1000px;
  margin: 0 auto;
}

.Image{
    width:232px;
    height:310px;
    text-align:center;
    float: left;
    margin: 0px 0px 15px 15px;

}
.name{
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
    font: bold 12px/18px sans-serif;
    display: inline-block;
    position: relative;
    padding: 10px 70px;
    background: #0B4C5F;
    margin-left: 25px;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.name:hover{
    background: #E0F8F7;
    color: #000;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    overflow:hidden;
}
